# IDE
.vscode
.idea

# Logs and other files
npm-debug.log*
.DS_Store

# Compiled files
dist

# Extracted strings
strings.json
strings.pot

# Dependency directory
node_modules

# Source maps for JS builds
*.js.map
